<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlóMaster Perfil Maestro</title>
    <link rel="stylesheet" href="/client/css/perfil.css">
</head>
<body>
    <header>
        <img src="logo.png" alt="logo">
        <input type="text" placeholder="Búsqueda">
        <nav>
            <a href="/client/home">home</a>
            <a href="#">Favoritos</a>
            <a href="/auth/logout">Cerrar Sesión</a>
        </nav>
    </header>

    <!-- Sección de Perfil -->
    <section class="profile-section">
        <div class="profile-card">
            <div class="profile-info">
                <div class="section-profile">
                    <div class="photo">Foto</div>
                    <div class="names">
                        <div class="alias">Zona</div>
                        <div class="alias">Nombre completo</div>

                    </div>
                    

                </div>
                <div class="rating">
                    <span>Calificación</span>
                    <span class="score">10</span>
                </div>
                <div class="reviews">
                    <p>Descripción</p>
                </div>

            </div>
        </div>

        <!-- Sección de OPINIONES -->
    <div class="section2">
        <div class="details-section">
            <h2>Opiniones Realizadas</h2>
            <div class="opinions">
                <div class="photo">Foto</div>
                <div class="alias">
                    <p>Nombre Maestro</p>
                    <p>Zona</p>
                </div>
                <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p></div>
                <div class="proyect-photo"><p>Foto Proyecto</p></div>
            </div>
        </div>
        <div class="details-section">
            <h2>Opiniones Realizadas</h2>
            <div class="opinions">
                <div class="photo">Foto</div>
                <div class="alias">
                    <p>Nombre Maestro</p>
                    <p>Zona</p>
                </div>
                <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p></div>
                <div class="proyect-photo"><p>Foto Proyecto</p></div>
            </div>
        </div>
        
    </div>
    
    </section>
    <section class="section-contact">
        <a>contacto</a>
        <a>soporte</a>
    </section>

    <footer>
        <p>© AlóMaster todos los derechos reservados</p>
    </footer>


</body>
</html>