<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlóMaster Perfil Maestro</title>
    <link rel="stylesheet" href="/client/css/search.css">
    <!-- Agrega la hoja de estilos de Slick si decides usarla -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="logo">
        <input type="text" placeholder="Búsqueda" class="busqueda">
        <nav>
            <a href="/client/profile">Perfil</a>
            <!-- <a href="#">Favoritos</a> -->
            <a href="/auth/logout">Cerrar Sesión</a>
        </nav>
    </header>

    <main>

        <div class="projects">
            <div>
                <c:forEach class="carousel">
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="carousel-item profile-card">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="profile-card carousel-item">
                        <div class="profile-info">
                            <div class="section-profile">
                                <div class="photo">Foto</div>
                                <div class="names">
                                    <div class="alias">Zona</div>
                                    <div class="alias">Nombre completo</div>
                                </div>
    
    
                            </div>
                            <div class="job"><a href=".">Tipo de oficio</a></div>
                            <div class="rating">
                                <span>Calificación</span>
                                <span class="score">10</span>
                            </div>
                            <div class="reviews">
                                <p> Opiniones de clientes</p>
                            </div>
    
                        </div>
                    </div>
                </c:forEach>
            </div>
        </div>
       
        <!-- 
        <section class="profile-section" class="carousel-container">
            <div class="carrusel-slide">
                <div class="profile-card" class="carousel-item">
                    <div class="profile-info">
                        <div class="section-profile">
                            <div class="photo">Foto</div>
                            <div class="names">
                                <div class="alias">Zona</div>
                                <div class="alias">Nombre completo</div>
                            </div>
    
    
                        </div>
                        <div class="job"><a href=".">Tipo de oficio</a></div>
                        <div class="rating">
                            <span>Calificación</span>
                            <span class="score">10</span>
                        </div>
                        <div class="reviews">
                            <p> Opiniones de clientes</p>
                        </div>
    
                    </div>
                </div>
    
                <div class="profile-card" class="carousel-item">
                    <div class="profile-info">
                        <div class="section-profile">
                            <div class="photo">Foto</div>
                            <div class="names">
                                <div class="alias">Zona</div>
                                <div class="alias">Nombre completo</div>
                            </div>
    
    
                        </div>
                        <div class="job"><a href=".">Tipo de oficio</a></div>
                        <div class="rating">
                            <span>Calificación</span>
                            <span class="score">10</span>
                        </div>
                        <div class="reviews">
                            <p> Opiniones de clientes</p>
                        </div>
    
                    </div>
                </div>
<!--            
                <div class="profile-card">
                    <div class="profile-info">
                        <div class="section-profile">
                            <div class="photo">Foto</div>
                            <div class="names">
                                <div class="alias">${maestro.zona}</div>
                                <div class="alias">${maestro.nombre}</div>
                            </div>
        
        
                        </div>
                        <div class="job"><a href=".">Tipo de oficio</a></div>
                        <div class="rating">
                            <span>Calificación</span>
                            <span class="score">10</span>
                        </div>
                        <div class="reviews">
                            <p> Opiniones de clientes</p>
                        </div>
     
                </div>
            </div>
            </div>

        </section> -->
    </main>
    <section class="section-contact">
        <a>contacto</a>
        <a>soporte</a>
    </section>

    <footer>
        <p>© AlóMaster todos los derechos reservados</p>
    </footer>

    <!-- Incluye la librería de jQuery y Slick para el carrusel -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/client/js/search.js"></script>
</body>

</html>