body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #94e4ff;
    text-align: center;
  }
  
  header {
    background-color: #426dc2;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #426dc2;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 4rem;
  }
  
  .navbar a:hover {
    color: rgb(177, 173, 173);
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  
  .logo img {
    width: 100%;
    height: auto;
    pointer-events: none;
  }
  main {
    padding: 30px;
    margin-bottom: 5rem;
  }
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .izquierda {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .derecha {
    flex: 2 1 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .form-header {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 1px 17px 32px -10px rgba(0, 0, 0, 0.75);
  }
  
  .form-header form {
    width: 100%;
  }
  
  .form-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-item input {
    padding: 10px;
  
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  .form-item input:hover {
    background-color: #f0f0f0;
  }
  
  .form-item label {
    margin-bottom: 10px;
  }
  
  .regmaestro {
    background-color: rgb(254, 254, 254);
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 17px 32px -10px rgba(0, 0, 0, 0.75);
  }
  
  .regmaestro a {
    font-style: none;
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .btn {
    background-color: #426dc2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #305596;
  }
  
  .btn-redirect {
    text-decoration: none;
    color: inherit;
    color: white;
    background-color: black;
    display: block;
    padding: 10px 20px;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    transition: box-shadow 0.5s;
    &:hover {
      -webkit-box-shadow: inset 0px 6px 158px -55px rgb(86, 44, 239);
      -moz-box-shadow: inset 0px 6px 158px -55px rgb(86, 44, 239);
      box-shadow: inset 0px 6px 158px -55px rgb(86, 44, 239);
    }
  }
  
  .error{
      color: red;
  }
  
  .section-contact{
      background-color: #000000;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-evenly;
      a{
        color: white;
        text-decoration: none;
        transition: color 0.3s;
        &:hover{
          color: #446daf;
        }
      }
  }
  footer{
    background-color: #000000;
    color: white;
    padding: 20px;
  }
  
  